.venv/
.venv/**
.venv*
__pycache__/
*.py[cod]
port.json
overlay_controller.pid
payload_store/new-payloads.json
overlay_group_cache.json
overlay_group_cache.json.tmp
overlay_groupings.user.json
#*.code-workspace
overlay_client/env_overrides.json
overlay_client/fonts/EUROCAPS.TTF
_external/
_external/**    
.hostvenv/
.hostvenv/**
logs/
logs/**
*.log
overlay_client/fonts/EUROCAPS.TTF
